.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 300ms;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 41px;
  padding-right: 39px;
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0) rotate(0);
  }
}
.modal-button {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border: 1px solid var(--accent-color);
    fill: #2196f3;
  }
}
.modal-icon {
  width: 11px;
  height: 11px;
}

.modal-title {
  @include font(20px, 700, 1.15, null);
  text-align: center;
  color: var(--title-text-color);
  justify-content: center;
  margin-bottom: 12px;
}
.modal-label {
  display: block;
  @include font(12px, null, 1.17, 0.01em);
  color: rgba(117, 117, 117, 1);
  margin-bottom: 4px;
}
.input-container {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  &:focus {
    outline: none;
    border-color: rgba(33, 150, 243, 1);
  }
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  .modal-input:focus + & {
    fill: rgba(33, 150, 243, 1);
  }
}
/* .modal-icon {
  width: 18px;
  height: 18px;
} */
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  &::placeholder {
    @include font(14px, null, 1.14, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: rgba(33, 150, 243, 1);
  }
}

.form-button {
  background-color: rgba(24, 140, 232, 1);
  font-family: 'Roboto';
  font-style: normal;
  @include font(16px, 700, 1.88, 0.06em);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-bg-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  padding-left: 56px;
  border: transparent;
  justify-content: center;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    outline: transparent;
  }
}

/* .checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
} */
.checkbox-label {
  display: flex;
  position: relative;
  @include font(14px, null, 1.71, null);
  padding-left: 23px;
  margin-bottom: 30px;
}
.checkbox-link {
  display: inline-block;
  color: #2196f3;
  margin-left: 5px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  position: absolute;
  left: 0;
  transform: translateY(25%);
  border-radius: 4px;
  .checkbox:checked + & {
    background-image: url(../images/check.svg);
    background-color: rgba(33, 150, 243, 1);
    background-size: contain;
    background-origin: border-box;
    border-color: rgba(33, 150, 243, 1);
    background-repeat: no-repeat;
  }
}
